<%- include('../partials/head.ejs') %>

    <body>

        <body class="hold-transition sidebar-mini layout-fixed">
            <div class="wrapper">
                <%- include('../partials/aside.ejs')%>
                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content">
                            <div class="container">
                                <!-- Small boxes (Stat box) -->
                              
                                <br> <br> <br> <br> <br> <br> <br> <br>
                                           
                                <div class="row marcador align-items-center ">
                                    <div class="col mx-auto text-center">
                                      <img class="img-responsive" src="/img/pageConst.gif"  width="300" height="300">
                                    </div>
                                  </div>
                                               
                            </div>
                    </div>
                    <!-- /.card -->
                    </section>
                    <!-- right col -->
            </div>
            <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->





            </div>
            </footer>


        </body>



        <!-- **************************************************************************************************** -->