<%- include('../partials/head.ejs') %>

    <body class="bg-dark">
        </br>
        </br>
        <br>
        <div class="container col-4 bordered-3x ">


            <% if(messages.success_msg){%>
                <div class="alert alert-success">
                    <%= messages.success_msg%>
                </div>
                <%}%>

                <% if(messages.error){ %>

                    <div class="alert bg-danger text-white">
                        <%= messages.error%>
                    </div>

                    <% }%>


                    <% if(messages.error_msg){ %>

                        <div class="alert bg-danger text-white">
                            <%= messages.error_msg%>
                        </div>
    
                        <% }%>
    



            <div class="card shadow mt-5 ">
                <div class="card-header text-center text-white bg-dark">
                    <img src="/img/logo.png" class="col-4">
                    <h3>e-SMB
                    </h3>
               
                </div>


            
                <div class="card-body">
                    <form action="/login" method="post">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i>Matrícula</span>
                            </div>
                    
                            <input name="matricula" class="form-control" maxLength="7" placeholder="Matrícula..." type="text">
                        </div>
                      
                        <div class="form-group input-group">
                          
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-key"></i>Senha</span>
                            </div>
                           
                            <input name="password" class="form-control" placeholder="Senha" maxlength="6" type="password">
                        </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success btn-sm btn-block">Entrar</button>
                    <button  class="btn btn-outline-dark btn-sm btn-block" type="reset">Limpar</button>
                    </form>
                  
                 
                    
                </div>

            </div>

        </div>

    </body>